/* --------------------------------------- */
/* ----- Imports ----- */
/* --------------------------------------- */

@import './variables';
@import './mixins';
@import './checkbox';

/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $default-font-size;
    font-family: 'Cera Pro', sans-serif;
    color: $text-dark-0;
    background: $background-0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: $white;
    padding: 2rem 0;

    @media(min-width: 450px) {
        width: 50%;
        min-width: 35rem;
        max-width: 45rem;
        max-height: 60rem;
        margin: 9rem auto;
        box-shadow: 0 .2rem .4rem rgba($text-dark-0, .1);
        border-radius: 5px;
    }

}

/* --------------------------------------- */
/* ----- Time ----- */
/* --------------------------------------- */

.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__left {
        display: flex;
    }

    &__date {
        font-size: 5.5rem;
        margin-right: .5rem;
    }

    &__hack {
        display: flex;
        flex-direction: column;
        margin-top: 1.3rem;
    }

    &__month {}

    &__year {
        font-size: 1.5rem;
        color: lighten($text-dark-0, 20%);
    }


    &__day {
        text-transform: uppercase;
        margin-top: 2.5rem;
    }

}

/* --------------------------------------- */
/* ----- Todos ----- */
/* --------------------------------------- */

.todo {

    padding: 1.8rem 1rem;

    &__container {
        list-style: none;
        margin-top: 3rem;
    }

}

/* --------------------------------------- */
/* ----- Add Todo ----- */
/* --------------------------------------- */

.add-todo {
    position: absolute;
    bottom: 0;
    width: 100%;
}